@import "../output/figma-styles/variables";
@import "./mixin";
@import "./figma-styles";
@import "./tooltip";

// $color-1: #f24e1e;
// $color-2: #a259ff;
// $color-3: #1abcfe;
// $color-4: #0acf83;

$color-link: #64B5F6;
$color-link-hover: #1976D2;


.text-center {
    text-align: center;
}

.nowrap {
    white-space: nowrap;
}

body {
    margin: 0;
    font-family: Lato;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.4em;
    letter-spacing: 1px;
}

a {
    color: $color-link;
    transition: color .4s;
    &:hover {
        color: $color-link-hover;
    }
}

.title {
    font-size: 2.8em;
    line-height: 2em;
}

pre[class*=language-] {
    padding: 1.5em 2em;
    font-size: 0.8em;
    line-height: 1.8em;
}

pre.Code {
    text-align: left;
    font-size: 12px;
}

:not(pre)>code[class*=language-], pre[class*=language-] {
    background-color: transparent;
}

.figma-gradient {
    background: $color-1;
    background: $color-figma-gradient;
    line-height: 2em;

    @at-root code:not([class*=language-]) {
        padding: 5px;
        margin: 0 2px;
        border-radius: 3px;
    }

    &.with-opacity-05 {
        background: $color-figma-gradient-05;
    }

    &.with-opacity-10 {
        background: $color-figma-gradient-10;
    }

    &.text {
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent
    }
}

.hero {
    text-align: center;
    margin-bottom: 25px;

    &:last-child {
        margin-bottom: 0;
    }

    .title, section {
        font-weight: 300;
        margin: 0 auto;
        display: inline-block;
    }

    .title {
        font-size: 2.6em;
        padding: 0;
    } 

    @include for-desktop-up {
        min-height: 635px;
        height: 100vh;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;

        .title {
            font-size: 2.8em;
        } 
    }

    .octicons {

        padding: 40px 0 0;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
    
        @include for-desktop-up {
            flex-wrap: nowrap;
        }
    
        .figma-screen {
            flex: 0 0 auto;
            width: 100%;
    
            img {
                box-shadow: 0px 0px 8px 0px #a8a8af;
                max-width: 100%;
            }
    
            @include for-desktop-up {
                width: 35vw;
            }
        }
    
        .figma-export {
            text-align: center;

            .title {
                font-size: 1.8em;
                line-height: 1.2em;
                margin: 30px 0 35px;
                font-weight: 300;
                letter-spacing: 1px;
            }
        }
    
        .figma-arrow {
            height: 12px;
            margin-top: 50px;
            display: none;
        
            @include for-desktop-up {
                display: inline-block;
            }
        }
    
        .icons {
            overflow: hidden;
            position: relative;
            -webkit-mask-image: linear-gradient(#fff 80%, transparent);
            mask-image: linear-gradient(#fff 80%, transparent);
            width: 100%;
            height: 250px;
    
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
    
            @include for-desktop-up {
                width: 35vw;
                height: calc(35vw - 170px);
            }
    
            img {
                width: 24px;
                height: 24px;
            }
        }
    }
}

.svgstore {
    position: absolute;
    left: -9999px;
    width: 0;
    height: 0;
    visibility: hidden;
}

.icon {
    width: 35px;
    height: 35px;
    margin: 10px;

    fill: $color-link;
    transition: fill .2s;

    &:hover {
        fill: $color-link-hover;
    }
}

.container {
    padding: 0 15px;
}

.section-block {
    margin: 60px 0;
}

a.full {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

h2 {
    text-align: center;
    padding: 15px 0;
    margin: 0;

    position: sticky;
    z-index: 1;
    top: 0;
}

.code-block {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin: 30px 0;

    @include for-desktop-up {
        align-items: center;
        flex-direction: row;
    }

    &--text {
        h3, .description {
            padding: 0px 5%;
        }

        h3 {
            line-height: 2em;
            margin: 0.5em 0;
        }

        .description {
            margin: 1em;
        }

        pre[class*=language-] {
            padding: 0;
            display: inline-block;
            max-width: 100%;
        }
    }

    > div {
        flex: 0 1 45%;
        text-align: center;
        overflow: hidden;
        &.code-block--code {
            flex: 0 1 55%;
        }
    }

    @include for-desktop-up {
        &:nth-child(odd) > div.code-block--code {
            order: -1;
        }
    }
}

.github-link {
    position: relative;
    bottom: 10px;
    right: 0;
    font-size: 0.8em;
    padding: 0 15px;
    line-height: 2em;
    display: block;
    text-align: right;

    @include for-desktop-up {
        @at-root .hero + .github-link {
            position: absolute;
        }
    }

    a {
        display: inline-flex;
        text-decoration: none;
        color: inherit;
    }

    img {
        margin-left: 8px;
        width: 16px;
    }
}

.feature-box {
    display: inline-block;
    margin: 25px 3vw;

    position: relative;

    > code {
        display: block;
    }
}

.figma-box {
    border-radius: 25%;
    display: inline-block;
    vertical-align: top;

    &:not(.with-content) {
        width: 40px;
        height: 40px;

        @include for-desktop-up {
            width: 50px;
            height: 50px;
        }
    }

    &:not(.no-margin) {
        margin: 8px;
        @include for-desktop-up {
            margin: 10px;
        }
    }
}

.shell-image {
    width: 100vw;
    max-width: 700px;
    display: block;
    margin: 0 -15px;
}